/* Steve jobs' book */

/* body{
	zoom: 1.2;
} */

:root {
	--bookw: 960px;
	--bookh: 669px;
	--bookwhalf: 680px;
	--insidew: 460px;
	--insideh: 649px;
	--depthw: 16px;
	--depthh:657px;
	--depthtop: 7px;
}

html, body {
	overflow-x: hidden;
	overflow-y: hidden;
	height: 100%;
	width: 100%;
  }

body {
	background-color: white;
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
#loading-screen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000; /* Ensure it's on top of everything else */
	transition: all 0.5s ease-out;
	text-align: center;
}
#loading-screen p{
	position: absolute;
	font-size: 20px;
	padding: 7px;
}

.bgimg{
	width: 100vw;
	height: 100vh;
	position: absolute;
	top: 0;
	background-position: center;
  	background-repeat: no-repeat;
  	background-size: cover;
}
#frontofficebg{
	background-image: url(../pics/frontoffice.jpg);
	transition: all 0.5s ease-in-out;
}
#seniorlougebg{
	background-image: url(../pics/seniorlouge2.jpg);
}
#librarybg{
	background-image: url(../pics/library1.jpg);
}
#graduationbg{
	background-image: url(../pics/graduation2.jpg);
}
.bgimg::after{
	content: '';
	background-color: rgba(0,0,0,0.7);
	position: absolute;
	width: 100%;
	height: 100%;
}
.loadimg{
	opacity: 0;
}

body, ul, table, form{
	margin:0;
	padding:0;
	overflow:hidden;
}

.animated{
	-webkit-transition:margin-left 0.2s ease-in-out;
	-moz-transition:margin-left 0.2s ease-in-out;
	-o-transition:margin-left 0.2s ease-in-out;
	-ms-transition:margin-left 0.2s ease-in-out;
	transition:margin-left 0.2s ease-in-out;
}

.navbar{
	display: flex;
	flex-direction: row;
	width: 60vw;
	justify-content: space-between;
	height: 3%;
	background-color: rgba(0,0,0,0.8);
	border-radius: 10px;
	z-index: 1000000000000000;
	display: flex;
	opacity: 0;
}

.navbar #pageNumber{
	width: 16vw;
	text-align: center;
	background-color: white;
	color: dark;
	border: none;
}
.navbtn {
	flex-basis: 20%;
	border-radius: 10px;
	background-color: transparent;
	border: none; /* Remove borders */
	color: white; /* White text */
	font-size: 16px; /* Set a font size */
	cursor: pointer; /* Mouse pointer on hover */
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	position: relative;
}
  /* Darker background on mouse-over */
.navbtn:hover {
	background-color: rgba(128,128,128,0.6);
}
#menuBtn:hover .dropdown{
	visibility: visible;
}
#menuBtn .dropdown{
	visibility: hidden;
	position: absolute;
	opacity: 1;
	top:3vh;
	left: 0;
	width: 100%;
	display: flex;
	flex-direction: column;
	background-color:lightblue;
	color: black;
	margin:0;
	opacity: 1;
	border-radius: 10px;
}
#menuBtn .dropdown a{
	padding: 10px 0;
	border-radius: 10px;
	text-decoration: none;
	color: black
}
#menuBtn .dropdown a:hover{
	background-color: lightcoral;
}
hr{
	margin: 0;
}

#canvas{
	width: var(--bookw);
	height: var(--bookh);
	transform: scale(0.2) translateY(875%) translateX(-10%);
	animation: intro 2.3s forwards;
	margin-bottom: 1.3vh;
	transition: all 0.7s ease-in-out;
	opacity: 1;
}


@keyframes intro{
	65%{
		transform: scale(0.2) translateY(250%) translateX(-10%);
	}
	100%{
		transform: scale(1) translate(0);
	}
}

@keyframes introbackground{
	0%{
		background-image: url('../pics/frontoffice.jpg');
	}
	70%{
		background-image: url('../pics/frontoffice.jpg');
	}
	100%{
		background-image: url('../pics/library1.jpg');
	}
}

.sj-book{
	width:var(--bookw);
	height:var(--bookh);
}

.sj-book .book-content{
	font-family: "Stempel-Garamond-W01-Roman";
	font-size:16px;
	width: 100%;
	height: 100%;
}

.animated{
	-webkit-transition:margin-left 0.2s ease-in-out;
	-moz-transition:margin-left 0.2s ease-in-out;
	-o-transition:margin-left 0.2s ease-in-out;
	-ms-transition:margin-left 0.2s ease-in-out;
	transition:margin-left 0.2s ease-in-out;
}

.sj-book .page{
	-webkit-box-shadow:0 0 20px rgba(0,0,0,0.2);
	-moz-box-shadow:0 0 20px rgba(0,0,0,0.2);
	-ms-box-shadow:0 0 20px rgba(0,0,0,0.2);
	-o-box-shadow:0 0 20px rgba(0,0,0,0.2);
	box-shadow:0 0 20px rgba(0,0,0,0.2);
	background-color: #1B3D64;
	opacity: 1;
}

.sj-book .p1{
	background-image: url('../pageimg/frontcover.jpg');
	background-size: cover;
	background-position: center;
}

.sj-book .p1 .side{
	width:5px;
	height:var(--bookh);
	position:absolute;
	top:0;
	left:475px;


}

.sj-book-transform div[page="1"] > div, .sj-book-transform div[page="2"] > div{
	overflow:visible !important;
}

.sj-book .depth{
	background-image:url(../pics/pages-depth.png);
	position:absolute;
	top:var(--depthtop);
	width:var(--depthw);
	height:var(--depthh);
	background-size: cover;
	z-index: 100000;
}

.sj-book .front-side .depth{
	left:4px;
	background-position:0 0;
}

.sj-book .back-side .depth{
	right:4px;
	background-position:right 0;
}


.sj-book .p2{
	background-image: url('../pageimg/cover.jpg');
	background-size: cover;
	background-position: center;
}

.sj-book .p3{
	background-image: url('../pageimg/page1.jpg');
	background-size: cover;
	background-position: center;
}
.sj-book .p4{
	background-image: url('../pageimg/page2.jpg');
	background-size: cover;
	background-position: center;
}

.sj-book .p85{
	background-image: url('../pageimg/backpage.jpg');
	background-size: cover;
	background-position: center;
}

.sj-book .p86{
	background-image: url('../pageimg/endpage.jpg');
	background-size: cover;
	background-position: center;
}

.p4 {
	/* background-image: url('../Yrbook2024/image1.jpg');
	background-size: cover;
	background-position: center; */
	background-color: white;
}

.sj-book .hard{
	width: var(--bookwhalf);
	height:var(--bookh);
	background-color:#1B3D64;
	-webkit-box-shadow:none;
	-moz-box-shadow:none;
	-ms-box-shadow:none;
	box-shadow:none;
}

.sj-book .page-wrapper{
	-webkit-perspective:2000px;
	-moz-perspective: 2000px;
	-ms-perspective: 2000px;
	perspective: 2000px;
	opacity: 1;
}

.sj-book .own-size{
	width:var(--insidew);
	height:var(--insideh);
	/*  decide color */
	background-color:#1B3D64;
	overflow:hidden;
	opacity: 1;
}
/* 
.sj-book .even{
	background:-webkit-gradient(linear, left top, right top, color-stop(0.95, #fff), color-stop(1, #dadada));
	background-image:-webkit-linear-gradient(left, #fff 95%, #dadada 100%);
	background-image:-moz-linear-gradient(left, #fff 95%, #dadada 100%);
	background-image:-ms-linear-gradient(left, #fff 95%, #dadada 100%);
	background-image:-o-linear-gradient(left, #fff 95%, #dadada 100%);
	background-image:linear-gradient(left, #fff 95%, #dadada 100%);
}

.sj-book .odd{
	background:-webkit-gradient(linear, right top, left top, color-stop(0.95, #fff), color-stop(1, #cacaca));
	background-image:-webkit-linear-gradient(right, #fff 95%, #cacaca 100%);
	background-image:-moz-linear-gradient(right, #fff 95%, #cacaca 100%);
	background-image:-ms-linear-gradient(right, #fff 95%, #cacaca 100%);
	background-image:-o-linear-gradient(right, #fff 95%, #cacaca 100%);
	background-image:linear-gradient(right, #fff 95%, #cacaca 100%);
}
 */
 
.sj-book  .even .gradient{
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
	z-index: 100000000;
	background-color: black;

	background:-webkit-gradient(linear, left top, right top, color-stop(0.95, rgba(0,0,0,0)), color-stop(1, rgba(0,0,0,0.2)));
	background-image:-webkit-linear-gradient(left, rgba(0,0,0,0) 95%, rgba(0,0,0,0.25) 100%);
	background-image:-moz-linear-gradient(left, rgba(0,0,0,0) 95%, rgba(0,0,0,0.25) 100%);
	background-image:-ms-linear-gradient(left, rgba(0,0,0,0) 95%, rgba(0,0,0,0.25) 100%);
	background-image:-o-linear-gradient(left, rgba(0,0,0,0) 95%, rgba(0,0,0,0.25) 100%);
	background-image:linear-gradient(left, rgba(0,0,0,0) 95%, rgba(0,0,0,0.25) 100%);
}

.sj-book .odd .gradient{
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
	z-index: 100000000;

	background:-webkit-gradient(linear, right top, left top, color-stop(0.95, rgba(0,0,0,0)), color-stop(1, rgba(0,0,0,0.8)));
	background-image:-webkit-linear-gradient(right, rgba(0,0,0,0) 95%, rgba(0,0,0,0.3) 100%);
	background-image:-moz-linear-gradient(right, rgba(0,0,0,0) 95%, rgba(0,0,0,0.3) 100%);
	background-image:-ms-linear-gradient(right, rgba(0,0,0,0) 95%, rgba(0,0,0,0.3) 100%);
	background-image:-o-linear-gradient(right, rgba(0,0,0,0) 95%, rgba(0,0,0,0.3) 100%);
	background-image:linear-gradient(right, rgba(0,0,0,0) 95%, rgba(0,0,0,0.3) 100%);
}

.sj-book .loader{
	background-image:url(../pics/loader.gif);
	width:22px;
	height:22px;
	position:absolute;
	top:280px;
	left:219px;
}

.sj-book .page-number{
	color:#999;
	width:100%;
	bottom:25px;
	position:absolute;
	display:block;
	text-align: center;
	line-height:30px;
	font-size:11px;
}

.book-content img{
	width: 100%;
	height: 100%;
}

.book-content .liveimage1{
	width: 26.5%;
	height: 23.7%;
	position: absolute;
	top: 8.2%;
	right: 5.8%;
}
.book-content .liveimage2{
	width: 26.5%;
	height: 23.7%;
	position: absolute;
	top: 38.6%;
	left: 5.8%;
	background-position: center;
}
.book-content .liveimage3{
	width: 26.5%;
	height: 23.7%;
	position: absolute;
	top: 69.8%;
	right: 5.8%;
}

.book-content .liveimage{
	opacity: 0;
	animation-delay: 0;
	z-index: 10000000000000000;
	background-size: auto 100%;
    background-repeat: no-repeat;
    background-position: center top;
}

.book-content .introimage{
	opacity: 0;
	animation-delay: 0;
	background-size: auto 100%;
    background-repeat: no-repeat;
    background-position: center top;
}

.book-content .liveimage1:hover {
	opacity: 1;
}
.book-content .liveimage2:hover {
	opacity: 1;
}
.book-content .liveimage3:hover {
	opacity: 1;
}


.book-content .liveimage-bottomleft{
	width: 16%;
	height: 19%;
	position: absolute;
	top: 73%;
	left: 10%;
	background-image: url('../Yrbook2024/binyb.gif');
	background-position: center;
}


.p1::after{
	content: "";
	position: absolute;
	bottom:10%;
	right:0;
	z-index: 10000000000;
	width: 37%;
	height: 16%;
	background-image: url('../pics/instruction1.png');
	background-position: center;
	background-size: cover;
	transform: translateX(100%);
	animation: instruction 7.5s ease-in-out infinite;
	animation-delay: 10.5s;
	opacity: 0;
}

.p1::before{
	content: "";
	position: absolute;
	bottom:-4%;
	right:3%;
	z-index: 10000000000;
	width: 20%;
	height: 15%;
	background-image: url('../pics/arrow.gif');
	background-position: center;
	background-size: cover;
	transform: scaleY(-1) rotate(-15deg);
	animation: instructionarrow 7.5s ease-in-out infinite;
	animation-delay: 10.5s;
	opacity: 0;
}

@keyframes instruction {
	5%{
		transform: translate(0);
		opacity: 1;
	}
	69%{
		transform: translate(0);
		opacity: 1;
	}
	70%{
		opacity: 0;
	}
	100%{
		opacity: 0;
	}
}

@keyframes instructionarrow{
	10%{
		opacity: 1;
	}
	69%{
		opacity: 1;
	}
	70%{
		opacity: 0;
	}
	100%{
		opacity: 0;
	}
}

.book-content .shooting{
	width: 21%;
	height: 45%;
	position: absolute;
	top: 38%;
	right: 10.6%;
	z-index: 1;
	transform: scaleX(-1);
	opacity: 0;
}

.book-content .explosion{
	width: 50%;
	height: 102%;
	position: absolute;
	top: -1%;
	left: -5%;
	z-index: 1;
	transform: scaleX(-1);
	opacity: 0;
}

@keyframes gunshooting {
	0%{
		opacity: 1;
	}
	39%{
		opacity: 1;
	}
	40%{
		opacity: 0;
	}
    69% {
        right: 73%;
		opacity: 0;
    }
}
@keyframes gunexplode {
    0% {
        opacity: 0;
    }
	37%{
		opacity: 0;
	}
	38%{
		opacity: 1;
	}
	100%{
		visibility: hidden;
	}
}
.trigger{
	position: absolute;
	top: 43.1%;
	left: 5.2%;
	width: 89.5%;
	height: 20.3%;
	z-index: 1000000000;
}
/* .trigger:hover {
	background-color: black;
} */
.shooting{
	animation: gunshooting 4s normal infinite;
}
.explosion{
	animation: gunexplode 4s normal infinite;
}

.p2::after{
	content: "";
	position: absolute;
	top:0;
	left: 0.5%;
	width: 90%;
	height: 100%;
	background-image: url('../pics/instructionpage.jpg');
	background-position: left;
	background-size: cover;
	z-index: 1;
}

.dpbuddy {
	width: 90%;
	flex-basis: 40%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-color: #1B3D64;
}

.container h3{
	font-size: 20px;
	margin: 0;
	color: #F46C36;
}

.alink {
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: start;
	align-items: end;
	z-index: 10000000000000;
	position: absolute;
	bottom: 10%;
	left: -7px;
}
.alink a {
	font-family: sans-serif;
	padding: 7px 10px;
	background-color: #1B3D64;
	color: white;
	text-align: center;
	border-radius: 7px;
}
.chamvideo{
	position: absolute;
	top:40%;
	left:12%;
	z-index: 1000000000000;
}
.container{
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
}

.dpbuddy embed {
	width: 90%;
	height: 100%;
	z-index: 1000000000;
}
.dpbuddy iframe{
	z-index: 100000000000p;
}